<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cannabisautomatico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCannabis"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".IpActivity"
            android:theme="@style/transparente" ></activity>
        <activity android:name=".CamaraWebActivity" />
        <activity android:name=".Sin_internet" />
        <activity android:name=".AnimacionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Atribuciones" />
        <activity android:name=".Acerca_de" />
        <activity android:name=".Cambio_clave" />
        <activity android:name=".verificacion_codigo_cambio_clave" />
        <activity
            android:name=".pantalla_home_opciones"
            android:theme="@style/transparente" />
        <activity android:name=".Modo_Manual"
            android:parentActivityName=".HomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeActivity"
            />
        </activity>
        <activity android:name=".Info_Sensor_Activity" />
        <activity android:name=".Perfil" />
        <activity android:name=".BienvenidoActivity" />
        <activity android:name=".add_invernadero_Activity" />
        <activity android:name=".CodValidarActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Olvide_passwordActivity" />
        <activity android:name=".RegistrarActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>